.Burger {
  width: 80%; 
  margin: auto;
  height: 15rem;
  overflow: scroll;
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
}

@media (min-width: 400px) {
  .Burger {
    width: 60%;
    height: 25rem;
  }
}
@media (min-width: 701px)  {
  .Burger {
    width: 50%;
  }
}
@media (min-width: 1001px) {
  .Burger {
    width: 35%;
  }
}
@media (min-width: 1401px) {
  .Burger {
    width: 25%;
  }
}